<mat-toolbar color="warn">
   <span><a routerLink="/" > toolbar</a></span> 
   <span class="spacer"></span>
   <ul class="links">
       <li><a routerLink="create" mat-button routerLinkActive="mat-primary"> new post</a></li>
     <li> <a routerLink="header/sinip" mat-button routerLinkActive="mat-primary">Login</a>
     </li>
     <li><a routerLink="header/sinup" mat-button routerLinkActive="mat-primary">Singup</a></li>
     <li><a routerLink="pratice" mat-button routerLinkActive="mat-primary">praice</a></li>

   </ul>




</mat-toolbar>
